	<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>Welcome to eGifts</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" 
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">    </script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js">
		</script>
		<script src="//apis.google.com/js/platform.js?onload=start"> </script>
		<meta name="google-signin-client_id" 
	            content="825503950326-67lrl6o62fnbuj7cvtsmmnbrfctjla3h.apps.googleusercontent.com">
	    <script >
	    	$( document ).ready(function() {
	    	var myList=['#id_add_category','#id_add_gift_item','#id_edit_category']
	    	for (i=0;i<myList.length;i++){
		        if ('{{state[2]}}' =='None'){
	    	    	$(myList[i]).removeClass('active');
	        		$(myList[i]).addClass('disabled');
	        		
	       		 }
	        	else{
	        		$(myList[i]).removeClass('disabled');
	        		$(myList[i]).addClass('active');
	        	
		        }
		    }
	    });

	    </script>
	</head>

	<body class="container">

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top  ">
		  	
			<li class="nav-item mr-auto">
		  		<a href="#" class="navbar-brand"> Welcome to eGifts </a>
		  	</li>

			<ul class="navbar-nav mr-auto">
	  			{% for each_category in categories_ %}
	  				{% if loop.index <=5 %}
	  					<li class="nav-item">
	      					<a class="nav-link" id="id_cat_{{ each_category.id_category }}" href="/egifts/category/{{each_category.id_category}}">{{ each_category.name }} </a>
				   	 	</li>
		   	 		{% endif %}
	   			{% endfor %}
	  		</ul>

			
				{% if categories_|length > 5 %}
					<ul class="nav navbar-nav  mr-auto">
					 <div class="dropdown ">

					 	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
					 		<span class="caret">more</span>
					 	</a>

        				<ul class="dropdown-menu text-center">
						
							{% for each_category in categories_ %}
								<!-- Loop variable starts count from 1 -->
								{% if loop.index > 5 %}
									
									<li>
										
										<a class="nav-item" id="id_cat_{{ each_category.id_category }}"
											href="/egifts/category/{{each_category.id_category}}">

											{{ each_category.name }}
										</a>


									</li>
									<li class="divider"></li>	

								{% endif %}

							{% endfor %}

						</ul>

					</div>
					</ul>
				{% endif %}
			

		  	<li>
		  		<a href="#" class="navbar-brand">
			  	{% if state[1] %}
			  		
		  			{{state[1]}}
		  			
					
				{% else %}
					Guest
				{% endif %}
				</a>
			</li>
		  
		</nav>
		<br><br>
		
		<div class="container-fluid"><br>
			{% set hasDangerAlert=[] %}
			{% with messages = get_flashed_messages(with_categories=true) %}
			
	  			{% if messages %}
	    			{% for err_category, message in messages %}
	    				
	    				{% if err_category=="danger" %}
	    					{% if hasDangerAlert.append("danger")  %} {% endif %}
	    					
	    					<div class="alert alert-{{err_category}} ">
	    						<strong>{{message}} </strong> 
	  						</div>

						{% else %}

							<div class="alert alert-{{err_category}} alert-dismissible fade show ">
	    						<button type="button" class="close" data-dismiss="alert">&times;</button>
	    						<strong>{{message}} </strong> 
	  						</div>  					
	    					
	    				{% endif %}
	      				 
	    			{% endfor %}

	  			{% endif %}
	  			
			{% endwith %}
			
			{% if hasDangerAlert is defined and hasDangerAlert|length %}
			
			{% else %}
				{% block content %}

				{% endblock %}
			{% endif %}
			
		</div>

		<br><br>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
		  <img class="navbar-brand" src="{{ url_for('static',filename = 'images/logo.png') }}" >
		  <ul class="navbar-nav ml-auto">
		  	<li class="nav-item">
	      		<a class="nav-link disabled" href="/egifts/category/new" id="id_add_category">Add Category</a>
	    	</li>
	    	<li class="nav-item ">
		  		<a href="/egifts/category/modify" class="nav-link disabled" id="id_edit_category"> Modify-Category </a>
		  	</li>
	 	  	<li class="nav-item">
	      		<a class="nav-link disabled" href="/egifts/item/new" id="id_add_gift_item">Add Gift Item</a>
	    	</li>
	    	
		  </ul>
		  <ul class="navbar-nav ml-auto">
		    <li class="nav-item ">
		    <li class="nav-item ">
		      <a class="navbar-brand" id="id_home" href="/egifts">Home</a>
		    </li>
		    <li class="nav-item">

		    	{% if state[2] %}
		    		<a class="navbar-brand" href="/egifts/logout">  logout</a>
			    {% else %}
			    	<!-- <a href="/egifts/login" class="nav-link">Login</a> -->
			    	
			    	<div class="navbar-brand" id="signinButton">
			    		
				        <span class="g-signin" 
				        data-scope="openid email"
				        data-clientid="825503950326-nk1ud58cca3nr4t5p4dfi58lf6tdsgk9.apps.googleusercontent.com"
				        data-redirecturi="postmessage"
				        data-cookiepolicy="single_host_origin"
				        data-callback="signInCallback"
				        data-approvalprompt="force">Login
				        </span>

				     </div>
			    {% endif %}
		    </li>
		  </ul>
		</nav>

	<script>
        function signInCallback(authResult) {
        	if (authResult['code']) {
          	console.log('code succee');
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                	window.location.href = "/egifts/loginsuccess"; 
                    
                  } 
                else if (authResult['error']) {
                  console.log('There was an error: ' + authResult['error']);
                  }
                else {
                  console.log('Failed to make a server-side call. Check your configuration and console.');
                }
              }
            }); 
          }else{
          	console.log('else in signin');
          }
        }
      </script>
     
	</body>
	</html>